.body {
  background-color: black;
}

.patxer {
  transform: scale(0.5);
  display: flex;
  flex-direction: column;
  text-align: center;
  opacity: 0.75;
}

.plots {
  text-align: center;
}

.mainplot::after {
  display: block;
}

.corner {
  color: white;
  display: inline-block;
}